body{
    background-color: #EBEBEB;
    font-family:"Source Sans Pro", Helvetica, sans-serif;
    color:#423F3F;
    margin:0px;
    padding: 0px;
    width:100%;
    padding-top: 3.5rem;
}
#header {
  position :static;
  margin:auto;
    width:80%;
}
.xy_event_pane .post_subject {
    position: relative;
    top:-3rem;

}
.xy_event_pane .event_title{
    position: relative;
    top:-3rem;
    left:1rem;
}

#all {
    width:90%;
    padding:3%;
    margin:auto;
}
.icon {
    margin-right: 2px;
}


.close {
    margin-top: 30px;
    font-size: 25px;
}
.group{
    margin-bottom:15px;
  
   
}
ul {
   margin-left: -3px;
   color:#423F3F; 
}
ul li a,ul li a:visited,ul li a:focus{
    color:#423F3F;
    font-size:120%;
}
ul li:first-child{
    margin-left: 0px;
}
ul li {
    display: inline;
    list-style-type: none;
    margin-left: 3px;
}
a,a:focus,a:hover,a:link {
    text-decoration: none;
    color:black;
}
.btn{
    padding: 15px;
}
.float_right{
    float:right;
}
.xy_height_30{
    height:1.8vw;
}
.xy_height_10{
    height:1vw;
}
.xy_font_1_5{
    font-size:90%;
}
.xy_font_1{
    font-size:90%;
}
.xy_font_2_5{
    font-size:150%;
}
.xy_font_0_5{
    font-size:0.5%;
}
.xy_color_grey{
    color:#423F3F;
}
.xy_grey_border{
    border: solid 1px rgba(160, 160, 160, 0.3);
}
.xy_bg_white{
    background-color: white;
}
.xy_text_upper{
    text-transform: uppercase;
}
.xy_section{
    display: block;
    width:100%;
}
section{
    margin:auto;
    width:70%;
}
#post_buttons{
    margin-top: 3px;
}
.text_center{
    text-align: center;
}
.xy_width_50{
    max-width:50%;
}
.xy_m_left_10{
    margin-left: 30px;
}
.book-thumbnail{
    width:100%;
    height:150px;
}
#book-container{
    width:80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 23%) ;
    grid-column-gap: 1.5vw;
    grid-row-gap: 2vw;
    margin-bottom: 3vw;
    padding: 3vw;
    
}
.xy_book_pane{
    background-color: white;
    padding: 10px;
}

.xy_pane{
   padding-top: 0.8vw;
   padding-bottom: 0.8vw;
   margin:auto;   width:auto;
   max-width: 45%;
}
.xy_color_white{
    color:white;
}
.xy_bg_teal{
    background-color: #009688;
}
.xy_bg_purple{
    background-color: #4A86E8;
}
.xy_bg_cblue{
    background-color: #607D8B;
}
.xy_font_bold{
    font-weight: 850;
}
.xy_post_buttons{
    padding:1.8%;
    border-radius: 3px;
    cursor: pointer;
}
#post_buttons{
    margin-top: 10px;
}
.small-img-thumbnail{
    width: 100%;
    height: 100%;
}
.xy_post_pane{
    display: grid;
    grid-template-columns: 30% 40%;
    grid-column-gap: 1.5vw;
    margin-bottom: 3vw;
    background-color: white;
}
.xy_display_none{
    display: none;
}
.xy_text_center{
    text-align:center;
}
.xy_content_center{
    align-content: center;
}
.sm-screen{
    display:none;
}
#sm-menu {
  
    height: auto;
    position: fixed;
    right:0px;
    top:0px;
    background-color: white;
   
    padding:3rem;
    z-index : 2;
}
#sm-screen-nav-ul li {
   display: block;
   padding:1.5em 0 0 0;
   margin:1.5em 0 0 0;
  

}
#menu_button {
    position:fixed;
    bottom:3rem;
    right:1rem;
    background-color: white;
    z-index:2;
}
#post-container{
    margin:auto;
    width:80%;
    display:grid;
    grid-template-columns: 40% 58%;
    grid-column-gap: 2%;
}
h1,h2,h3,h4,h5,h6{
    color: #3c3b3b;
    font-family: "Raleway", Helvetica, sans-serif;
    font-weight: 800;
    letter-spacing: 0.25em;
    line-height: 1.65;
    margin: 0 0 1em 0;
    text-transform: uppercase;
}
#add_post{
    padding: 10px;
    height:auto;
    max-height: 700px;
    width: 95%;
    padding:1.5em;
    /* text-align:center; */
}
#add_post_form{
    height:auto;
}

.xy_mt_1{
    padding-top:1rem;
}

#main_posts{
    width: 95%;
    padding:1.5em;
}
#book-top{
    display:grid;
    width:80%;
    margin:auto;
    grid-template-columns: 48% 28%;
    grid-column-gap: 8%;
}

#current-book{
    text-align: center;
}
#add-book h1{
    text-align: center;
}

.container {
    width:98%;
    height: auto;
    margin:auto;
    background-color:white;
    padding-bottom: 2rem;
}

.rows-two{

    display:grid;
    grid-template-columns: 1fr;
    grid-row-gap:1rem;
   
}

.boxes{
    padding:0.3rem;
    border-radius:5px;
    text-align:center;
    border:1.5px solid grey;
    margin:10px;
    min-height:137px;
    max-height:137px;
}

.circle {
    width:20%;
    height:60px;
    border:1px solid black;
    border-radius:100%;
    padding:0.3rem;
    margin:auto;
    margin-top:0.5rem;
}
.icon-lg {
    font-size:1.8rem;
}
hr {
    margin-top:0px;
    margin-bottom:0px;

}

#menu_button {
    display:none;
}
#sm-menu {
    display: none;
}

/* #post_add_toggler{
    padding-left:5px;
    padding-right: 5px;
    border-radius: 100%;
    background-color: white;
    border:1px solid grey;
    cursor:pointer;
} */
@media (max-width:1122px){
    /* #book-container{
        width:100%;
        margin:auto;
        display: grid;
        grid-template-columns:18%  18% 18% 18% 18% ;
        grid-column-gap: 1.5vw;
        grid-row-gap: 1.5vw;
        margin-bottom: 3vw;
    } */
}

@media (max-width:1010px){
    #all {
        width:80%;
        padding:3%;
    }
   section{
       margin-top:10%;
       width:80%;
       margin:auto;
   }
   .xy_padding_5{
    padding: 15px;
}
    .xy_post_pane{
        display: grid;
        grid-template-columns: 40% 55%;
        grid-column-gap: 1.5vw;
        margin-bottom: 3vw;
    }
    #post-container{
      
        
        width:100%;
        margin: auto;
    }
    #add_post{
        width:100%;
    }
    .xy_font_1{
        font-size:70%;
    }
    .xy_pane{
        max-width: 70%;
    }
    #book-container{
        width:100%;
        margin:auto;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-column-gap: 1.5vw;
        grid-row-gap: 1.5vw;
        margin-bottom: 3vw;
    }
}
@media (max-width:773px){
    #post-container{
        margin:auto;
        width:80%;
        display:grid;
        grid-template-columns: 100%;
       
    }
    #book-top{
        display:grid;
        width:80%;
        margin:auto;
        grid-template-columns: 48% 38%;
        grid-column-gap: 8%;
    }
    
}
@media (max-width:540px){
    #book-container{
        width:100%;
        margin:auto;
        display: grid;
        grid-template-columns:48% 48% ;
        grid-column-gap: 1.5vw;
        grid-row-gap: 1.5vw;
        margin-bottom: 3vw;
    }
}
@media (max-width:480px){
    #post-container{
        margin:auto;
        width:100%;
        display:grid;
        grid-template-columns: 90%;
       
    }
    #add_post{
        height:auto;
        /* text-align:center; */
        
    }
    #book-top{
        display:grid;
        width:80%;
        margin:auto;
        grid-template-columns: 90%;
        
    }
    
}
@media screen and (min-width:981px){

    .rows-two{
        grid-template-columns:1fr 1fr;
        grid-column-gap: 1rem;
    }

    .container{
        width:90%;
    }
}
@media screen and (max-width: 980px) {
    #header {
        display:none;
    }
    #sm-menu {
        display: hidden;
    }
    #menu_button {
        display:block;
    }

    #header .links ul li{
        display: block;
    }

    .col-sm-12 {
        width:95%;
        height:auto;
        margin-left:auto;
        margin-right:auto;
    }

}
.error{
    background-color: rgba(256,0, 0, 0.3);
}
.success {
    background-color: rgba(0,256, 0, 0.3);
}

.display_anim {
    animation: 0.5s slide-in;
}



@keyframes slide-in {
    0%{ width: 0%;}
    25% {width:10%}

    100% { width:auto}
}
