.xy_padding_5{
    padding: 15px;
}
ul.pagination > li.active{
    color:#2ebaae ;
}
#header{
    position:static;
}
.modal-header .close{
    margin-top : -80px;
}
.close {
    font-size: 32px;
}

.xy_text_left{
    text-align: left;
}
.xy_margin_bottom_5{
    margin-bottom: 25px;
}
.xy_grey_border{
    border: solid 1px rgba(160, 160, 160, 0.3);
}
.xy_font_100_percent{
    font-size: 150%;
}
.xy_text_center{
    text-align: center;
}
.xy_bg_white{
    background-color: white;
}
.xy_margin_bottom_0{
    margin-bottom: 0px;
}
#front-banner{
    display: grid;
    grid-template-columns: 58% 38%;

}
.group{
    margin-bottom: 10px;
}

#home-posts{
display:grid;
grid-template-columns: 24% 24% 24% 24%;
grid-column-gap: 1%;
}
form#ebook {
    display:grid;
    width:70%;
    margin: auto;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 4%;
}
form#contact{
    margin-left:16%;
}
.float_right{
    float:right;
}
.icon {
    margin-right:2px;
}
.input-group1 {
    display:grid;
    width:70%;
    margin: auto;
    grid-template-columns:  33% 32.5%;
    grid-column-gap: 4%;
    
}
textarea{
    width:70%;
}
.input-group2{
    width:70%;
    margin: auto;
}
#header-wrapper {
    display: -moz-flex;
    display: -webkit-flex;
    display: -ms-flex;
    display: flex;
    -moz-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -moz-transition: opacity 0.5s ease;
    -webkit-transition: opacity 0.5s ease;
    -ms-transition: opacity 0.5s ease;
    transition: opacity 0.5s ease;
    margin: 0 auto;
    max-width: 100%;
    opacity: 1;
    padding: 4.5em;
    width: 90em;
}
#upcoming-events {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
}
.event_title{
    position: relative;
    top:-3rem;
    left:0.8rem;
    color:white;

}
.mini-events {
    width:auto;
    max-height:430px;
}
.mini-events #post-subject {
    position: relative;
    top:-3rem;
    padding:0.8rem;
}
.img-fluid {
    width:100%;
    height:auto;
}
body.is-menu-visible #header-wrapper {
    opacity: 0.15;
}

@media screen and (max-width: 1680px) {

    #header-wrapper {
        padding: 3em;
    }

}

@media screen and (max-width: 1280px) {

    #header-wrapper {
        display: block;
    }

}

@media screen and (max-width: 736px) {

    #header-wrapper {
        padding: 1.5em;
    }

}

body.single #header-wrapper {
    display: block;
}

@media (max-width:600px){
    #home-posts{
        display:grid;
        grid-template-columns: 100%;
        }

        #upcoming-events {
            grid-template-columns: 100%;
        }
        form#ebook {
            display:grid;
            width:70%;
            margin: auto;
            grid-template-columns: 100%;
            grid-row-gap: 15px;
        }
        .input-group1 {
            display:grid;
            width:70%;
            margin: auto;
            grid-template-columns:  100%;
            grid-row-gap: 15px;

            
        }
        textarea{
            width:100%;
        }
}

@media (max-width:832px)and (min-width:599px){
    #home-posts{
        display:grid;
        grid-template-columns: 49% 49%;
        grid-column-gap: 2%;
        }

    #upcoming-events {
        grid-template-columns: 1fr 1fr;
    }

        form#ebook {
            display:grid;
            width:90%;
            margin: auto;
            grid-template-columns: 30% 30% 30%;
            grid-column-gap: 4%;
        }
        .input-group1 {
            display:grid;
            width:70%;
            margin: auto;
            grid-template-columns:  100%;
            grid-row-gap: 15px;
            
        }
        textarea{
            width:100%;
        }
}
@media (max-width:1132px)and (min-width:832px){
    #home-posts{
        display:grid;
        grid-template-columns: 32% 32% 32%;
        grid-column-gap: 1%;
        }
        .input-group1 {
            display:grid;
            width:70%;
            margin: auto;
            grid-template-columns:  100%;
            grid-row-gap: 15px;
            
        }
        textarea{
            width:100%;
        }
}
